/*-------------------------------------INDEX.HTML-------------------------------------*/
/* OBS: Não irei comentar comandos repetidos, por motivos obvios :) */

@font-face { /* Adicionando novas fontes personalidas. */
    font-family: Anton-Regular;
    src: url('fonts/Anton-Regular.ttf');
}
@font-face {
    font-family: Keep the Faith - TTF;
    src: url('fonts/Keep the Faith - TTF.ttf');
}
@font-face { 
    font-family: Caffe Lungo DEMO;
    src: url('fonts/Caffe Lungo DEMO.otf');
}
/* Modificando o body. ---- OBS: As modificações aqui feitas irão apenas refletir nos conteúdos que não especificam determinadas definições como o "width" por exemplo. */
 body { 
    font-family:Caffe Lungo DEMO, Helvetica, Arial, sans-serif; /* Adicionando uma das fontes personalizadas */
    width: 100%; /* Definindo largura do body*/
    height: 100%; /* Definindo altura do body*/
    margin: 0%; /* Definindo margin 0 */
    background-image: url("img/background.jpg"); /* Colocando um plano de fundo para o site */
    background-repeat: no-repeat; /* Dizendo para não haver repetição do background, caso ele seja pequeno em alguma dimensão */
    background-size: cover; /* Dizendo para o background cobrir todo o body. */
}
h1, h2{
    font-family: Caffe Lungo DEMO, Helvetica, Arial, sans-serif; /* Definindo as fontes padrões do h1, h2 */
}
.cabecalho { 
    display: flex; /* Definindo para apresentar o menu num flexbox, (que organiza dinâmicamente os elementos filhos)*/
    background-color: #2d2d2d; /* Definindo a cor do plano de fundo do menu. */
    width: 100%;
    height: 100%;
}
.menu{ 
    display: flex;
}
.menu ul {
    list-style: none; /* Dizendo que não quero nenhum estilo na minha lista */
    padding: 0%; /* Tirando o padding, que é como se fosse o afastamento de um item dentro do seu container */
    display: flex; 
    flex-direction: row; /* Definindo a direção do flexbox em linha */
    align-items: center; /* Alinhando os itens ao centro */
    width: 100%;
}
.menu ul li {
    text-align: center; /* Alinhando o texto dos itens no centro */
    width: 100%;
    font-size: 100%; /* Definindo o tamanho da fonte */
    padding: 2%;
}
.menu a{
    color: white; /* Definindo a cor das letras do "a" */
    text-shadow: black; /* Definindo a sombra */
    text-decoration: none; /* Tirando toda decoração do texto*/
    font-family: Anton-Regular;
    text-transform: uppercase; /* Deixando o texto em LETRAS MAIÚSCULAS */
    } 
#destaques {
    display: flex;
    align-items: center;
    flex-direction: column; /* Dizendo para mostrar os itens em colúna */
    border-top:2px solid  silver; /* Definindo uma borda para o top, que seja sólida com tamanho de 2px e cor prata */
    border-bottom:2px solid grey; /* Mesma coisa da anterior, porém para o bot e de cor cinza*/
    width: auto;
}
#destaques h1{
    text-shadow: 1px 1px grey;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;  
}
#sobre {
    padding-top: 20px;
    padding-bottom: 0px;
}
#sobre h2 {
    font-family:Caffe Lungo DEMO, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
#sobre p{
    font-family: Keep the Faith - TTF Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
#marcas {
    display: flex;
    flex-direction: column;
}
#marcas h2{
    border-top: 2px solid grey;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0%; /* Definindo o espaçamento entre containeres para "0" */
}

/*---------------------------SLIDES---------------------------*/


.slider {  
    display: flex;
    margin: auto auto;
    width: 350px;
    height: 400px;
    position: relative; /* Dizendo para classe slider ser relativos em sua posição. */
    overflow: hidden; /*  Dizendo para o conteúdo ser cortado sem exibir nenhuma barra de rolagem. */
}  
.foto{
    position: absolute;
    opacity: 0;
    animation: slide 17s infinite;
    width: 100%;
    height: 100%;
}
@keyframes slide{ /* Criando a anmimação do slide (Preferi criar aqui pois ainda não havia estudado JS, e como também é funcional, preferi deixar a animação aqui.*/
        25%{ /* Dizendo a duração da animação, e também a opacidade das iamgens e a escala da transformação (1 eu deixo a imagem no seu tamanho normal para o seu tamanho normal, caso colocasse em 0.5, 1 a imagem cresceria gradualmente. */
            opacity: 1;
            transform:scale(1.0,1.0);
        }
        50%{
            opacity: 0;

        }
}
.foto:nth-child(1){ /* Definindo o "delay" da animação das imagens */
    animation-delay: 0s;
}
.foto:nth-child(2){
    animation-delay: 2.5s;
}
.foto:nth-child(3){
    animation-delay: 5s;
}
.foto:nth-child(4){
    animation-delay: 7.5s;
}
.foto:nth-child(5){
    animation-delay: 10s;
}
.foto:nth-child(6){
    animation-delay: 13s;
}
/*---------------------------SLIDES---------------------------*/

.copy{
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
    align-items: center;
}  
.copy p{
    padding-top: 15px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow:2px 2px black;
    font-family: Anton-Regular;
}
.copy img{
    width: 200px;
}
/*---------------------------Telas maiores que tablets---------------------------*/
@media screen and (min-width: 768px){ /* Modificando algumas propriedades do CSS, para telas maiores. Quando criei o projeto aderi por fazer o método "mobile first" */
    .cabecalho {
        width: 100%;
        height: 100px;
    }
    .menu{
        flex-direction: row;
        justify-content: space-around; /* Definindo como os itens vão se comportar dentro do seu container, nesse caso vão se distribuir igualmente por dentro do container. */
        width: 100%;
        padding: 0%;
        margin: 0%;
    }
    .menu ul{
        flex-direction: row;
        width: 30%;
        padding-left: 300px;
        padding-top: 50px;
    }
    #sobre{
        padding-top: 20px;
        padding-bottom: 20px;   
    }
    #sobre h2 {
        font-size: 35px;
        text-align: center;
    }
    #sobre p{
        font-size: 25px;
        display: inline-block; /* Definindo o display para mostrar a parte "sobre" em linhas de blocos */
        text-align: center; 
    }
    #marcas {
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinhando os itens no centro */
    }
   #marcas h2{
    width: 100%;
    text-align: center;
    font-size: 35px;
    padding-top: 25px;
    padding-bottom: 0;
   }
   #imgs {
       width: 100%;
       display: inline-block;
       text-align: center;
   }
   #imgs img {
       padding: 10px;
   }
   .copy{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
    align-items: center;
}  
.copy p{
    padding: 0%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow:2px 2px black;
    font-family: Anton-Regular;
}
.copy img{
    width: 200px;
}
}
    
/*--------------------------------------------------------------------*/
/*-------------------------------------CONTATO.HTML-------------------------------------*/
#contato form{
    font-family: Caffe Lungo DEMO, Helvetica, Arial, sans-serif;
    font-size: 20px;
}
#contato h1 {
    text-align: center;
    font-size: 30px;
}
#contato h2{
    font-size: 25px;
    padding-left: 10px;
}
form {
    text-align: center;
    border-top: 2px solid silver;
}
form p{
    padding-left: 5px;
}
#cntt {
    display: flex;
    flex-direction: column;
}
input{
    width: 90%;
    padding: 10px 20px;
    border: 2px solid gray;
    border-radius: 4px;
    box-sizing: border-box;

}
#button {
    text-align: center;
}
#button input{
    background-color: #2d2d2d ;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 50%;
}

textarea{
   width: 90%;
   border: 2px solid gray;
   border-radius: 5px; /* Deixando a borda um pouco mais redondinha =) */
   
   
}
/*-------------------------------------LOJAS.HTML-------------------------------------*/
#lojas{
    text-align: center;
    margin: 0%;
}
#loja12{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}
#lojas h1{
    text-align: center;
    font-size: 30px;
}
#loja12 ul{
    width: 100%;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
#loja12 a{
    text-decoration: none;
    color: black;
}
#loja23{
    width: 100%;
    padding: 0%;
    margin: 0%;
}
#loja23 ul{   
    list-style: none;
   padding: 0%;
    margin: 0%;
}
#loja23 a{
    text-decoration: none;
    color: black;
}
/*---------------------------Telas maiores que tablets---------------------------*/
@media screen and (min-width: 768px){
  
    #loja12 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 35px;
    }
    #loja12 ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        text-decoration: none;
    }
    #loja12 li{
        margin-left: 12%;
        text-align: center;
    }
    #loja23{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-bottom: 35px;
    }
    #loja23 ul{
        
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        text-decoration: none;
    }
    #loja23 li{
        margin-left: 9%;
        text-align: center;
    }
}
/*---------------------------Telas para PC's---------------------------*/
@media screen and (min-width: 1280px){
  
    #loja12 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 35px;
    }
    #loja12 ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        text-decoration: none;
    }
    #loja12 li{
        margin-left: 17%;
        text-align: center;
    }
    #loja23{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-bottom: 35px;
    }
    #loja23 ul{
        
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        text-decoration: none;
    }
    #loja23 li{
        margin-left: 15%;
        text-align: center;
    }
}
/*-------------------------------------PRODUTOS.HTML-------------------------------------*/
#produtos{ 
    display: flex;
    flex-direction: column;  
    align-items: center;
}
#produtos h1{
    text-align: center;
    font-size: 30px;
}
#pdt ul {
    list-style: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#pdt li{
    margin-bottom: 30px;
}
#pdt li p {
    margin-bottom: 20px;
    float: right;
    padding-right: 20%;
    font-size: 20px;
    width: 30%;
}

/*---------------------------Telas maiores que tablets---------------------------*/
@media screen and (min-width: 768px){
    #pdt {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #produtos h1{
        text-align: center;
        font-size: 30px;
    }
    #pdt ul {
        display: inline-block;
    }
    #pdt li{
        display: inline-block;
        margin: 30px;
        width: 20%;

    }
    #pdt li p {
        width: 24%;
        text-align: justify;
        float: right; /* Definindo os paragrafos de dentro das listas de dentro dos produtos para ficarem flutuando na direita. */
    }
       
}
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}
.cardcar{
    background-color: aliceblue;
}